h1{
    text-align: center;
}
.rojo, .rosa, .violeta{
    color: #fff;
}
.rojo{
    background-color: firebrick;
    
}
.rosa{
    background-color: hotpink;
    
}
.amarillo{
    background-color: gold;
}
.violeta{
    background-color: blueviolet;
}
.verde{
    background-color: lime;
}
.azul{
    background-color: turquoise;
}