h1{
    text-align: center;
    color: #e63946;
}
.caja1{
    padding: 10px 5px 15px 3px;
    border: 1px solid #457b9d;
    margin: 30px;
    /*
    Los margenes de los elementos se fusionan y toman uno solo tanto para superior o inferior, estos se colapsan, no funciona para izquierda y derecha

    si el elemento superior tiene un margen mayor se toma ese margen

    en este caso la division tiene 30px entre un elemento y el segundo
    */
    background-color: #f1faee;
    max-width: 300px;
    box-sizing: border-box;
}
.caja2{
    padding: 10px 5px 15px 3px;
    border: 1px solid #457b9d;
    margin: 20px;
    background-color: #f1faee;
    max-width: 300px;
    box-sizing: border-box;
}
