h1{
    color: #006400;
    text-align: center;
    border: 10px solid  #ccff33;
}

a:link{
    color: #e9972d;
    text-decoration: none;
}

a:visited{
    color: #ff0000;
    text-decoration: none;
}

a:hover{
    color: #006400;
    text-decoration: underline;
}

a:active{
    color: #ffd100;
}