h1{
    color: blue;
}
p{
    color: white;
    background-color: crimson;
    padding: 15px;
    border: 10px solid powderblue;
    /*margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;*/
    /*margin: 40px 15px 20px 10px;*/
    /*top 40, right 15, bottom 20, left 10*/
    /*margin: 40px 10px 20px;*/
    /*top 40, Left y Right 10, bottom 20*/
    /*margin: 40px 10px;*/
    /*top y bottom 40, left y right 10*/
    margin: auto 50px;
    text-align: center;

    /*
    Padding y Border funcionan igual que margin
    */
}