/*@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Roboto&family=Trocchi&display=swap'); version 2*/
@import url('https://fonts.googleapis.com/css?family=Sofia|Roboto|Trocchi&effect=shadow-multiple&display=swap');
/*version 1 - tiene efectos que no estan disponibles por el momento en la version 2
la version se coloca desde la url 

https://fonts.googleapis.com/css... en esta version las fuentes se separan por un pipe |

https://fonts.googleapis.com/css2... en esta se deben agregar con ampersand &family=

para aplicar el efecto se debe agregar una clase al elemento html
*/

h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
    font-family: 'Sofia', cursive;
}
.caja{
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
}
.caja.serif{
    background-color: #5a189a;

}
.caja.sans-serif{
    background-color: #00b4d8;
}
.caja.monospace{
    background-color: #f15bb5;
}
.caja.cursive{
    background-color: #ff8500;
}
.fuente_roboto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 20px; /*tamaño de la fuente - 16px es el valor default de los navegadores*/
}
.fuente_georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
    font-size: 1.25em; /*16px/16=1em  - 20px/16=2.5em*/
}
.fuente_arial{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 3vw;/*vh(viewport height) toma en cuenta el alto de la pantalla - vw(viewport weight) toma en cuenta el ancho de la pantalla - 
    con estos atributos se adapta el tamaño de fuente con el ancho o alto de la pantalla
    no se adapta al zoom
    1vw o 1vh = 1% de la pantalla
    */
}
.fuente_verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.fuente_courier{
    font-family: 'Courier New', Courier, monospace;
}
.fuente_lucida{
    font-family: 'Lucida Handwriting', cursive;
}